<% playlist.forEach(playlist => { %>
    <article><a>
            <img class="playlist-img" src="https://fdnd-agency.directus.app/assets/<%= playlist.image %>" width="100" height="100" 
            onerror="this.onerror=null;this.src='Placeholder-1.png';" alt="playlist">

            <h5><%= playlist.title %></h5>

            <div><%- include('./svg-play') %>

            <p>31 min. 55sec</p></div>

        </a>
    </article>  
<% }) %>