<%- include('./partials/head') %>
<%- include('./partials/navigation', {current: '/lessons'}); %>

<main class="allstories">
    <header>
        <a title="lessons page" href="/lessons"><p><</p></a>
        <h1>All stories</h1>

        <form action="/" method="get">
            <label for="text">Search for stories</label>
            <input id="text" type="text" value placeholder="Search for stories"></label>
            <button type="submit">Go</button>  

            <fieldset>
                <label for="select1"></label>
                <select name="select" id="select1">
                    <option disabled selected value>Animal</option>
                    <option value="pig">Pig</option>
                    <option value="turtle">turtle</option>
                    <option value="cow">Cow</option></select>
        
                <label for="select2"></label>
                <select name="select" id="select2">
                    <option disabled selected value>Season</option>
                    <option value="winter">winter</option>
                    <option value="summer">summer</option>
                    <option value="spring">spring</option>
                    <option value="autumn">autumn</option></select>
        
                <label for="select3"></label>
                <select name="select" id="select3">
                    <option disabled selected value>Language</option>
                    <option value="english">English</option>
                    <option value="german">German</option>
                    <option value="dutch">Dutch</option></select>
        
                    <label for="select4"></label>
                    <select name="select" id="select4">
                        <option disabled selected value>Sorting</option>
                        <option value="a-z">A-Z</option>
                        <option value="z-a">Z-A</option>
                    </select>
            </fieldset>
        </form>
    </header>

    <%- include('./partials/stories') %>

</main>   

<%- include('./partials/foot') %>