<%- include('./partials/head') %>
<%- include('./partials/navigation', {current: '/'}); %>

<main class="home">
    <h1>Today's listening</h1>
    <div class="progress-bar"></div> 
    <p>of your 5-minute goal</p>

    <div>
        <p>Goodmorning, Shall we start with a story?</p>
        <a href="/lessons">Let's do it!</a>
    </div>
    
</main>